aniso8601==8.0.0
attrs==19.3.0
awscli==1.18.58
beautifulsoup4==4.9.0
blis==0.4.1
botocore==1.16.8
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
conllu==2.3.2
cssselect==1.1.0
cymem==2.0.3
docutils==0.15.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
en-ner-bionlp13cg-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.5/en_ner_bionlp13cg_md-0.2.5.tar.gz
enum-compat==0.0.3
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
google-auth==1.20.0
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
lxml==4.5.0
MarkupSafe==1.1.1
murmurhash==1.0.2
nmslib==2.0.6
numpy==1.18.4
pandas==1.0.3
pkg-resources==0.0.0
plac==1.1.3
preshed==3.0.2
psutil==5.7.0
psycopg2-binary==2.8.5
pyahocorasick==1.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyate==0.3.11
pybind11==2.5.0
pysbd==0.2.3
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
PyYAML==5.3.1
readability-lxml==0.7.1
requests==2.23.0
rsa==3.4.2
s3transfer==0.3.3
scikit-learn==0.23.0
scipy==1.4.1
scispacy==0.2.4
six==1.14.0
soupsieve==2.0
spacy==2.3.2
spacy-readability==1.4.1
SQLAlchemy==1.3.18
srsly==1.0.2
syllapy==0.7.1
thinc==7.4.1
threadpoolctl==2.0.0
tqdm==4.46.0
typing==3.6.4
ujson==1.35
urllib3==1.25.9
wasabi==0.6.0
Werkzeug==1.0.1
zipp==3.1.0
